.table1{
    border: 1px black;
    background-color: rgb(241, 233, 233);
    width: 400px;
    height: 800px;
    border-style: solid;
}
.table2{
    border: 1px white;
    border-style: solid;
    width: 350px;
    height: 700px;
    background-color: white;
    margin: 20px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
.table3{
    border: 1px red;
    border-style: solid;
    width: 250px;
    height: 350px;
    background-color: red;
    margin: 30px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.img{
    margin-left: -50px;
}